@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1390px;
  margin:0 auto;
  background: #0F0B30; 
}
.container-fluid{
  max-width: 1920px;
  margin:0 auto;
  background: #0F0B30; 
}
.clr{
	background: linear-gradient(90deg, #8F00FF 0%, #5773FF 46.87%, #FF007A 100%) ;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.brdr{  
border:2px solid;
border-image:linear-gradient(45deg, #00F0FF, #5773FF,#FF007A) 1;
}
.footer{
  background: #110c36;
}
.bgclr{
  background: linear-gradient(90deg,rgba(0, 240, 255, 0.21) 0%, rgba(255, 0, 122, 0) 100%);
}